appdata>=2.1.1
atomicwrites>=1.4.0
attrs>=21.4.0
certifi>=2021.10.8
charset-normalizer>=2.0.11
click>=8.0.3
cloudpickle>=2.0.0
colorama>=0.4.4
coverage
coveralls>=3.3.1
cycler>=0.11.0
docopt>=0.6.2
EasyProcess>=1.1
entrypoint2>=1.0
fonttools
gym>=0.21.0
idna>=3.3
importlib-metadata
iniconfig>=1.1.1
kiwisolver
loguru>=0.4.1
matplotlib
mss>=6.1.0
numpy
packaging>=21.3
Pillow
pipreqs>=0.4.11
pluggy>=1.0.0
py>=1.11.0
pyparsing>=3.0.7
pyscreenshot>=3.0
pytest>=6.2.5
python-dateutil>=2.8.2
requests>=2.27.1
six>=1.16.0
to-requirements.txt>=1.1.5
toml>=0.10.2
typing-extensions>=4.0.1
urllib3>=1.26.8
win32-setctime>=1.1.0
yarg
zipp
tqdm
imageio
tk
